.search-container {
  position: relative;
  width: 300px;
  margin-right: 50px;
  z-index: 2;
}

.searchbar::placeholder {
  color: #ffffff4d;
}

.searchbar {
  color: #ffffffad;
  width: inherit;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.418);
}

.search-results-container {
  position: absolute;
  width: inherit;
  padding: 10px;
  border: 1px solid #0d171d;
  max-height: 80vh;
  overflow-y: scroll;
  /* background-color: blue; */
}

.search-results-container a {
  text-decoration: none;
}

.search-results-container::-webkit-scrollbar {
  display: none;
}

.search-results {
  display: flex;
  gap: 10px;
  color: white;
  /* width: 100%; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
  padding: 10px;
  transition: 0.3s all ease-in-out;

  /* background-color: rgba(128, 128, 128, 0.434); */
}

.search-results:hover {
  background-color: #393939ac;
  transition: 0.3s all ease-in-out;

  /* background-color: rgba(128, 128, 128, 0.434); */
}

.search-results p {
  background-color: transparent;
}

.search-results-poster {
  width: 50px;
}
